<!DOCTYPE html>
<html lang="en">
<head>

 <link rel="stylesheet" type="text/css" href="TLS.css">
 <meta charset="utf-8">
 
</head>

<body>
  
   <section class="timeline">
     <ul id = 'ul'>
       
       <!-- more list items here -->

     </ul>
       <script type="text/javascript">
          var today = new Date();
          var courseInfos = [{duedate: "2021/04/02 18:00",coursename: "COMPxxx",cwkname:"cousework1"}, 
                            {duedate: "2021/04/07 18:00",coursename: "COMPxxx",cwkname:"cousework2"}, 
                            {duedate: "2021/04/11 19:00",coursename: "COMPxxx",cwkname:"cousework3"}, 
                            {duedate: "2021/04/09 18:00",coursename: "COMPxxx",cwkname:"cousework4"}];
          var courseInfos = courseInfos.sort ((a,b) => new Date(a.duedate).getTime() - new Date(b.duedate).getTime());
         
          for (i=0; i<courseInfos.length; i++) {
            var number = i.toString();

            ul = document.getElementById('ul');
            
            var newLi = document.createElement('li');
            var newLi = document.getElementById("ul").appendChild(newLi);
            var newLi = newLi.setAttribute("id", "li"+number);
            var newDiv = document.createElement('div');
            var newDiv = document.getElementById("li"+number).appendChild(newDiv);
            var newDiv = newDiv.setAttribute("id", "div"+number);
            var  newTime = document.createElement('time');
            var  newTime = document.getElementById("div"+number).appendChild(newTime);
            var newP = document.createElement('p');
            var newP = document.getElementById("div"+number).appendChild(newP);
            var newSignal = document.createElement('signal');
            var newSignal = document.getElementById("div"+number).appendChild(newSignal);
            var newSignal = newSignal.setAttribute("id", "signal"+number);
            
            newTime.innerHTML = courseInfos[i].duedate;
            newP.innerHTML = courseInfos[i].coursename + " "+courseInfos[i].cwkname;
            
            var message ="";
            var d1 = courseInfos[i].duedate;
            var due = new Date(d1);
            var datediff = due.getTime()- today.getTime();
            var daydiff =Math.floor(datediff / (24 * 3600 * 1000));
            if (daydiff<=7) {
                message = "due soon";
            }
            document.getElementById("signal"+number).innerHTML = message;
          }
            


         //detect how long till due date  


          




        </script>
    
  

    
   </section>
</body>
</html>